streamlit==1.25.0
tensorflow==2.20.0rc0
scikit-learn
pandas
numpy
matplotlib
joblib
imbalanced-learn



# Optional / required for visuals, logs, or other components
altair
markdown
jinja2
requests
protobuf
pillow



